// styles/App.scss

@font-face {
  font-family: "Arial Bold";
  src: url("../public/assets/fonts/Arial_Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../public/assets/fonts/Arial.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/assets/fonts/HelveticaNeue.ttc");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// $body-bg: #f5f5f5;
$blue: #114084;
$green: #146b28;
$white: #fff;
$black: #000;
$purple: #422580;
$cyan: #0b738a;
$link-color: $purple;
$min-contrast-ratio: 3.1;

$font-family-sans-serif: "Arial", "Helvetica Neue";
$headings-font-family: "Arial Bold";

$font-size-base: 0.875rem;

@import "~bootstrap/scss/bootstrap.scss";

:root {
  --black: #{$black};
  --blue-100: #{$blue-100};
  --blue-200: #{$blue-200};
  --blue-300: #{$blue-300};
  --blue-400: #{$blue-400};
  --blue: #{$blue};
  --blue-600: #{$blue-600};
  --primary: #{$primary};
  --green: #{$green};
  --purple-100: #{$purple-100};
  --purple-200: #{$purple-200};
  --purple-300: #{$purple-300};
  --purple-400: #{$purple-400};
  --purple: #{$purple};
  --yellow-100: #{$yellow-100};
  --yellow: #{$yellow};
  --white: #{$white};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --gray-light-transparent: rgba(230, 230, 230, 0.1);
  --red: #{$red};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ul {
  list-style: none;
}
