.sidebar {
  position: relative;
}

.sidebarMenu {
  height: 100%;
}

.toogleSidebar {
  color: #012e40;
  border: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  top: calc(50vh - 2.4rem);
  right: -0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 10;
}
