// styles/MenuSidebar.module.scss

/* Sidebar general */
.sidebar {
  position: relative;
}

/* Boton de activación para expandir y contraer el sidebar */
$size-button: 1.6rem;

.sidebarToogleButton {
  color: var(--primary);
  border: none;
  border-radius: 50%;
  width: $size-button;
  height: $size-button;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-light);
  padding: 0.2rem;
  position: absolute;
  top: calc(50vh - $size-button);
  right: calc(-1 * ($size-button/2));
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
}

/* Menu del Sidebar */
.sidebarMenu {
  height: 100%;
}

/* Footer del sidebar */
.sidebarFooterWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.sidebarFooter {
  display: flex;

  > div {
    margin-top: 1.6rem;
  }
}
